<div style=”border: 1px solid #212529>
        <font face=”Courier New, Courier, mono”>
      </div>
    </div>         
    </div> 
    <div style="float: left; margin-right: 4px"><img src="images/immagine mamp.png" alt=”libri”
      style=float:left;margin:50px”></div> <p align="left"><h1>
      Che cos'è l'edizione del tempo?</h1>
    <p>Con timeEdition ottieni una documentazione dettagliata del tuo orario di lavoro.</p>
    Con timeEdition
      hai lo strumento perfetto per monitorare il tuo tempo</p></div>
      lavoro e il tempo di
     lavoro dei tuoi colleghi.</p>
     Puoi tenere traccia delle spese di lavoro del tuo progetto e fornire
     ai tuoi clienti una fattura dettagliata.</p>
     Disponibile per Mac, iPhone e Android.</p>
     <a href="https://www.mamp.info/b-flat/de/">Try timeEdition for macOS ></a>
         <hr class="dropdown-divider">
     <div style="text-align: right"></p>
     </font>
                 <br><br>
                
                </p>
              </div>
              </div>
            </div>
          </div>
          <br><br>
          <br><br>
          <font face=”Courier New, Courier, mono”>
          <div style="float: right; margin-left: 4px"><img src="images (1)/computer.JPG" alt=”libri”
            style=”float:left;margin: 10px”></div> <p align="right"><h1>
            Il tempo è denaro!</h1>
          <p>
            timeEdition pone grande enfasi sulla facilità d'uso.</p>L'utente vede innanzitutto solo le funzioni</p>
            necessarie per il monitoraggio giornaliero del tempo: </p>di lavoro, tempo di lavoro trascorso,
          </p> cliente, progetto e attività.</p>Non dai via il tuo tempo o i tuoi soldi.
        </p>
          <hr class="dropdown-divider">
          <div style="text-align: right"></p>
          </font>
                      <br><br>
                      <br><br>
                      <br><br>
                       <br><br>
                       <br><br>
                      <br><br>
                      <br><br>
                      <br><br>
                      <div style=”border: 1px solid #212529>
                        <font face=”Courier New, Courier, mono”>
                      </div>
                    </div>         
                    </div> 
                    <div style="float: left; margin-right: 4px"><img src="images (1)/computer1.JPG" alt=”libri”
                      style=float:left;margin:10px”></div> <p align="left"><h1>
                        timeEdition sul desktop e in viaggio</h1>
                    <p>
                      timeEdition è disponibile su più piattaforme: macOS, iOS e Android.
                      Ciò ti consente di tenere traccia dei tuoi progetti sulla scrivania dell'ufficio,
                      ma anche mobile quando sei in viaggio per consulenze.
                      <p>
                        Tutte le app timeEdition possono essere sincronizzate tramite Dropbox.
                        Non importa dove stai monitorando il tempo, tutte le tue registrazioni sono sempre disponibili su tutti i tuoi dispositivi.
                        Nessuna connessione Internet richiesta per la registrazione.
                        Questo ti dà un'elevata flessibilità per il monitoraggio dei tuoi progetti su piattaforme diverse.
                    </p>
